{% extends '::base.html.twig' %}

{% block title %}Smartdiary - Lista dove{% endblock %}
{% block page_title %}Lista dove{% endblock %}

{% block header_buttons %}
    <a href="{{ path('smartdiary_antecedent_antecedent_index') }}" data-icon="arrow-l"
       data-direction="reverse" data-ajax="false">Indietro</a>
{% endblock %}

{% block body %}
    <ul data-role="listview">
        {% for element in whereList %}
        <li><a href="{{ path('smartdiary_antecedent_antecedent_newantecedentwheredetail',
            { 'slug' : element.slug }
            ) }}" data-ajax="false">
            <h3>{{ element.label }}</h3>
            <p>{{ element.example }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}