{% extends '::base.html.twig' %}

{% form_theme form 'SmartdiaryUserBundle:Form:button_row.html.twig' %}

{% block title %}Smartdiary - Registrazione utente{% endblock %}
{% block page_title %}Registrazione utente{% endblock %}

{% block header_buttons %}
    <a href="#" data-role="button" data-icon="home" data-ajax="false">Home</a>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="description">
    I campi contrassegnati da un * sono obbligatori.
    </div>
    {{ form(form) }}
{% endblock %}