{% extends '::base.html.twig' %}

{% form_theme form 'SmartdiaryUserBundle:Form:button_row.html.twig' %}

{% block title %}Smartdiary - Registrazione utente{% endblock %}
{% block page_title %}Registrazione utente{% endblock %}

{% block header_buttons %}
    <a href="{{ path('smartdiary_smartdiary_smartdiary_home') }}" data-role="button" data-icon="home" data-ajax="false">Home</a>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/smartdiaryuser/js/registration.js') }}"></script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form(form) }}
{% endblock %}