{% extends '::base.html.twig' %}

{% block title %}Smartdiary - Nuovo pensiero alternativo funzionale{% endblock %}
{% block page_title %}Nuovo pensiero alternativo funzionale{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/smartdiaryalternativepositivethought/js/new.js') }}"></script>
{% endblock %}

{% block header_buttons %}
    <a href="{{ path('smartdiary_alternativepositivethought_apt_index') }}"
       data-icon="arrow-l" data-direction="reverse" data-ajax="false">Indietro</a>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="description"></div>

    {{ form(form) }}
{% endblock %}