{% extends '::base.html.twig' %}

{% block title %}Smartdiary - Login{% endblock %}
{% block page_title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.message|trans }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" data-ajax="false">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">Login</button>
    </form>
{% endblock %}